.DS_Store
.AppleDouble
.LSOverride
Icon
*.sw[a-z]
cookies
.jiramulerc
tags
mr.exe

xcuserdata
Pods/
pkg/
report/
coverage/

.murano/
.rspec_examples.txt

_testProject/
test.*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Gemfile.lock
