.DS_Store
.AppleDouble
.LSOverride
Icon
*.sw[a-z]
cookies
.jiramulerc
tags
mr.exe

xcuserdata
Pods/
pkg/
report/
coverage/

.mrmurano/
.mrmuranorc
.mrmuranorc.private
files/
endpoints/
modules/
eventhandlers/
roles.yaml
users.yaml

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Gemfile.lock
