.DS_Store
.AppleDouble
.LSOverride
Icon
*.sw[a-z]
cookies
.jiramulerc
.yardoc/
tags
mr.exe

xcuserdata
Pods/
pkg/
report/
coverage/
doc/

.murano/
.rspec_examples.txt

_testProject/
test.*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Gemfile.lock

# For "Debugging in Ruby 2"
#   https://github.com/deivid-rodriguez/byebug
.byebug_history

# For `chruby` and `rvm` Ruby versioning
#   .ruby-version
.ruby-version
.bundle/

# For `rake test` using a test .murano config
.murano.test

.rake_tasks~

# Output from .trustme.vim and .trustme.sh
.rake_build.out

